<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<form (ngSubmit)="onSubmit($event)" #frm="ngForm" fxFlex="100" fxLayout="column" fxLayoutGap="20px"  *ngIf="!isLoading"
  style="background-color: rgb(240, 240, 240);">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3%" [style.padding-top.px]="20">
    <div fxFlex="70" fxLayout="column" fxLayoutGap="30px">
      <div style="background-color: white;">
        <editor [init]="{
                              base_url: '/tinymce',
                              suffix: '.min',
                              height: 450,
                              images_upload_url: fileUploadURL,
                              images_upload_handler: imageUploadHandler,
                              menubar: false,
                              plugins: [
                                'advlist autolink lists link image charmap print preview anchor',
                                'searchreplace visualblocks code fullscreen',
                                'insertdatetime media table paste code help wordcount imagetools'
                              ],
                              toolbar:
                                'undo redo | formatselect | bold italic backcolor | \
                                alignleft aligncenter alignright alignjustify | \
                                bullist numlist outdent indent | removeformat | help | image | media'
                            }" [(ngModel)]="myCase.description" name="description" required></editor>
      </div>
      <div style="border: 1px solid black;" style="background-color: white;">
        <app-case-files2 [(caseFiles)]="myCase.caseFiles"></app-case-files2>
      </div>
      <div style="border: 1px solid black;" style="background-color: white;">
        <app-case-steps [(ngModel)]="myCase.steps" name="steps"></app-case-steps>
      </div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutGap="30px" style="background-color: white;">
      <div fxLayout="row" [style.margin-top.px]="30">
        <mat-form-field appearance="fill" fxFill>
          <mat-label>Title</mat-label>
          <input matInput type="text" id="title" name="title" [(ngModel)]="myCase.title">
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <app-case-tags fxFill [allTags]="allTags" [(ngModel)]="myCase.tags" name="tags"></app-case-tags>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="fill" fxFill>
          <mat-label>Related Apps</mat-label>
          <mat-select multiple [(ngModel)]="myCase.applications" name="apps">
            <mat-option *ngFor="let app of allApps" [value]="app">{{app.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <button [disabled]="submitting" mat-raised-button color="primary" type="submit" [style.margin-right.px]="30">
      <span>Submit</span>
    </button>
  </div>
  <br>
</form>