<form class="form" (ngSubmit)="onSubmit($event)" #frm="ngForm">
  <div class="row g-0" [ngStyle]="{'background-color': '#DFE5EA'}">
    <div class="col-12">
      <div class="row justify-content-end g-0">
        <button class="btn btn-success" style="width: 100px;">Cancel</button>
        <button class="btn btn-danger" style="width: 100px;">Save</button>
      </div>
    </div>
    <div class="col-12 px-2 mb-2">
      <div class="row">
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name="title" class="form-control" [ngModel]="case.title" required>
        </div>
      </div>
    </div>
    <div class="col-12 px-2 mb-2">
      <div class="row">
        <div class="col-12">
          <label for="tags" class="form-label">Case Tags</label>
          <p-chips [(ngModel)]="case.tags" id="tags" name="tags" class="col-12"></p-chips>
        </div>
      </div>
    </div>
    <div class="col-12">
      <editor [init]="{
          base_url: '/tinymce',
          suffix: '.min',
          height: 450,
          images_upload_url: fileUploadURL,
          images_upload_handler: imageUploadHandler,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount imagetools'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help | image'
        }" [(ngModel)]="case.description" name="description" required></editor>
    </div>
    <div class="col-12">
      <app-case-steps [(ngModel)]="case.steps" name="steps"></app-case-steps>
    </div>
    <div class="col-12">
      <app-case-files [(caseFiles)]="case.caseFiles"></app-case-files>
    </div>
  </div>
</form>