<div fxLayout="row wrap">
    <div fxLayout="row" fxFlex="100">
        <p-fieldset legend="Steps" [toggleable]="true" fxFlex="100">
            <table class="table">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let step of steps;index as i;">
                        <td class="col-10">
                            <editable>
                                <ng-template viewMode>{{ step.stepText }}</ng-template>
                                <ng-template editMode>
                                    <input class="form-control" editableOnEnter editableOnEscape
                                        [(ngModel)]="step.stepText" (change)="stepedChanged($event, i)" />
                                </ng-template>
                            </editable>
                        </td>
                        <td class="col-2">
                            <button class="btn btn-success" type="button"
                                (click)="removeStep($event, i)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p-fieldset>
    </div>
    <div fxLayout="row" fxFlex="100">
            <div fxFlex="80" fxLayout="row">
                <input type="text" [(ngModel)]="newStep" class="form-control" (keydown)="addStep2($event)" />
            </div>
            <div fxFlex="20" fxLayout="row" fxLayoutAlign="end">
                <button class="btn btn-dark" type="button" (click)="addStep($event)">Add Step</button>
            </div>
    </div>
</div>