p-chips ul {
    width: 100% !important;
 }
 p-chips div {
    width: 100% !important;
 }

 p-multiSelect > div {
   width: 100% !important;
}

tag-input input {
   width: 100%;
}

 footer {
  position:relative;
  bottom:0;
  left:0;
  width:100%;
  height:60px;
   background:#6cf;
 }


/* .ng-valid:not(form)  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

label{
  margin: 5px auto;
}
button{
  margin: 10px auto;

} */
