<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div fxFlex="100" fxLayout="column" fxLayoutGap="20px" *ngIf="!isLoading"
  style="background-color: rgb(240, 240, 240);">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3%">
        <div fxFlex="75">
            <div fxLayout="column" fxLayoutGap="40px">
                <div fxFlex="100">
                    <editor [disabled]="true" [init]="{
                                toolbar:false,
                                base_url: '/tinymce',
                                suffix: '.min',
                                height: 450,
                                editorReadOnly:true,
                                menubar: false
                              }" [(ngModel)]="myCase.description" name="description"></editor>
                </div>

                <div fxLayout="row wrap" fxFlex="100" style="background-color: white;" *ngIf="myCase.caseFiles.length != 0">
                    <div fxFlex="25" *ngFor="let file of myCase.caseFiles;index as i"
                        style="border: 1px solid rgb(170, 163, 163); border-radius: 4px;">
                        <app-file [isUploaded]="true" [fileName]="file.fileName" [fileUrl]="file.url">
                        </app-file>
                    </div>
                </div>
                <div fxFlex="100" fxLayout="row" style="background-color: white; border: 1px solid black;" *ngIf="myCase.steps.length != 0">
                    <table #mytable mat-table [dataSource]="myCase.steps" style="width: 100%;">
                        <ng-container matColumnDef="step">
                            <th mat-header-cell *matHeaderCellDef fxFlex="100"></th>
                            <td mat-cell *matCellDef="let step; index as i" fxFlex="100" FxLayout="row"
                                fxLayoutAlign="auto center">
                                {{ step.stepText }}
                            </td>
                        </ng-container>

                        <tr fxLayout="row" mat-row *matRowDef="let row; columns: ['step'];"></tr>
                    </table>
                </div>
            </div>
        </div>
        <div fxFlex="20" style="background-color: white;">
            <div fxLayout="column" fxLayoutGap="30px">
                <mat-form-field appearance="fill" fxFill>
                    <mat-label>Title</mat-label>
                    <input readonly matInput type="text" id="title" name="title" [value]="myCase.title">
                </mat-form-field>
                <div fxLayout="row">
                    <app-case-tags fxFill [readonly]="true" [(ngModel)]="myCase.tags" name="tags"></app-case-tags>
                </div>
                <mat-form-field appearance="fill" fxFill>
                    <mat-label>Related Apps</mat-label>
                    <input readonly matInput type="text" id="title" [value]="getApps(myCase)">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button [style.margin-right.px]="30" [routerLink]="['/cases']"
            routerLinkActive="active">back</button>
        <!-- <a routerLink="/cases/edit/{{myCase.id}}">
            <button pButton type="button" [style.margin-right.px]="30" class="p-button-sm">Edit</button>
        </a> -->
    </div>
    <br>
</div>