<div fxFlex="100">
    <input type="file" #file2 style="display: none" (change)="onFilesChange($event)" multiple />
    <div fxLayout="row">
        <button mat-raised-button color="primary" class="add-files-btn" type="button" (click)="addFiles()">
            Add Files
        </button>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="25" *ngFor="let file of files;index as i" [fxFlexOffset]="i % 4 == 0 ? '0%': '0%'"
            style="border: 1px solid rgb(170, 163, 163); border-radius: 4px;">
            <app-file [isUploaded]="!checkUploading(file)" [fileName]="getFileName(file)" [fileUrl]="getFileURL(file)"
                [value]="getProgress(file)" (fileRemoved)="onFileRemoved($event)">
            </app-file>
        </div>
    </div>
</div>