<div class="col-12">
    <input type="file" #file2 style="display: none" (change)="onFilesChange($event)" multiple />
    <div class="row g-0">
        <button mat-raised-button color="primary" class="add-files-btn" type="button"
            (click)="addFiles()">
            Add Files
        </button>
    </div>
    <div class="row g-0">
        <div class="col-3" *ngFor="let file of files;index as i">
            <app-file [isUploaded]="!checkUploading(file)" [fileName]="getFileName(file)" [fileUrl]="getFileURL(file)"
                [value]="getProgress(file)">
            </app-file>
        </div>
    </div>
</div>