
<!-- <div>
    <div fxLayout="row wrap" style="background-color: #eaecee;" >
        <div fxFlex="100">
            <div fxFlex="row wrap">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->


<notifier-container></notifier-container>
<app-header></app-header>
<div fxLayout="row">
    <div fxFlex="100">
        <div fxFlex="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <span class="text-dark" >     ITI Students in collaboration with EFG Hermes</span>

  </div>
  <!-- Copyright -->
</footer>
<!-- <app-testant></app-testant> -->
